@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
.body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
section {
    position: relative;
}
.container{
    width: 90%;
    max-width: 1140px;
    margin: auto;
    padding: 120px 0;
}
section.fumbi {
    background-color: #adc458;
}
.mg-l-r-20{
    margin: 0 20rem 0 20rem;
}
.flex-wrap{
    flex-wrap: wrap-reverse;
}
.row-example{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.lava-strana{
    align-items: flex-start;
}
.fumbli-logo{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.h1-5{
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
}
.mb50p{
    margin-bottom: 50px;    
}
.mt40p{
    margin-top: 40px;
}
.p-fumbli{
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;
}
.app-wraper{
    display: flex;
    flex-wrap: wrap;
}
.a-smt{
    margin-right: 30px;
}
.wraper{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.button{
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid white;
    font-size: 14px;
    padding: 20px 50px;
    border-width: 1.5px;
    background-color: transparent;
    color: #fff;
}
.prava-strana img {
    position: absolute;
    bottom: 0;
    right: 20rem;
    height: 540px;
    width: 530px;
}
.mt30p{
    margin-top: 30px;
}
.mt50p{
    margin-top: 50px;    
}
.co-founder{
    border-right: 1px solid #e5e5e5;
    padding-right: 20px;
}
.pb3r{
    padding-bottom: 3rem;
}
.co-founder-img{
    margin: auto;
}
.mb100p{
    margin-bottom: 100px;
}
.co-founder-popis{
    font-size: 18px;
    line-height: 40px;
    color: #17313b;
}
.align-center{
    align-items: center;
}
.co-founder-name{
    font-weight: 600;
    font-size: 14px;
    color: #979797;
    margin-top: 30px;
}
.company{
    cursor: pointer;
    color: #17313b;
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.h100{
    height: 100px;   
}
.justify-content-center{
    justify-content: center;
}
.about-company{
    font-size: 18px;
    line-height: 40px;
    color: #17313b;
    margin-top: 0;
    margin-bottom: 1rem;
}
.ml10p{
    margin-left: 10px;
}
.ml20r{
    margin-left: 20rem;
}
.button :hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-width: 1.5px;
}
.mr20r{
    margin-right: 20rem;
}
.vacatuner{
    padding: 120px 0;
    background-color: #343d4d;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}
.mt128p{
    margin-top: 128px;
}    
.container-vacatuner{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.left {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.description {
    color: white; 
}
.vacatuner-nadpis{
    font-size: 40px;
    line-height: 50px;
}